#brand {
    margin: auto;
    height: 60px;
    width: 90%;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    background-image: url(report/lablogo.png);
}