results/*
results_0/*
results_1/*
resources/samples/*
resources/RNA-seq/*
tophat_out
trimmed
results_1
star
resources/input/*
!resources/samples/readme.md
resources/input/*
!resources/input/readme.md
resources/ref_genomes/*
!resources/ref_genomes/readme.md
!resources/ref_genomes/*/genome.fa
!resources/ref_genomes/*/genome.gff
!resources/ref_genomes/*/genes.bed
logs/*
!logs/cluster/
logs/cluster/*
!logs/cluster/readme.md
*.svg
mydamageseq.sh
myXRseq.sh
.snakemake/
slurm*
workflow/scripts/__pycache__/*
*.pdf
tmp
*zip
